<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.uillian.person_accountant.person_accountant2">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
